aside .close {
  display: none
}

.sidebar {
  position: relative;
  flex-direction: column;
  height: 100vh;
  position: relative;
  border-right: solid 0.1rem lightgray ;
}

aside h3 {
  font-weight: 500;
}

.link-sidebar {
  margin-left: 2rem;
  gap: 1rem;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  text-decoration: none;
  font-size: 19px;
}

.active {
  color: #8E43ED;
  margin-left: 0.5rem
}


.link-sidebar:hover {
  margin-left: 1rem !important
}

.child {
  position: absolute;
  bottom: 2rem;
  width: 100%
}

.dropdown-button {
  background-color: #f2f2f2;
}

.baige-rounded-box {
  background-color: rgba(172, 90, 0, .1) ;
}
