<div class="container">
  <h2>Elija la cuenta que quiere mirar del <%= @bank_account.name %></h2>


  <% @fintoc_account.each do |fintoc| %>
    <div class="baige-rounded-box-scaled align-center mx-auto">
      <%= link_to fintoc.name, fintoc_path, class: "link-black" %>
    </div>
  <% end %>
</div>
