<div class="container full-height d-flex justify-content-center align-items-center">
  <div class="mt-6">

    <div class="d-flex justify-content-center align-items-center">
      <h2>Elija la cuenta que quiere mirar del <%= @bank_account.name %></h2>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <% @fintoc_account.each do |fintoc| %>
        <div class="baige-rounded-box-scaled align-center mx-auto">
          <%= link_to fintoc.name, fintoc_path, class: "link-black" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
