.baige-rounded-box-f5 {
  background-color: rgba(172, 90, 0, 0.05);
  margin: 0.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  align-items: start;
}
.red-btn {
  color: white;
  border-radius: 5px;

  &:hover {
    background-color: rgb(184, 0, 0);
    color: white;
  }
}
.purple-btn {
  color: #8E43ED;
  border-color: #8E43ED;
  border-radius: 5px;

  &:hover{
    background-color: #8E43ED;
    border-color: #8E43ED;
    color: white;
    border: 2px solid #8E43ED;
  }
}
.btn-editarPerfil {
  background-color: #8E43ED;
  color: white;
  border-radius: 5px;

  &:hover{
    background-color: white;
    border-color: #8E43ED;
    color: #8E43ED;
    border-radius: 5px solid #8E43ED;
  }
}
.btn-purple-EditarPerfil {
  background-color: #8E43ED;
  color: white;
  border-radius: 5px;

  &:hover{
    background-color: white;
    border-color: #8E43ED;
    color: #8E43ED;
    border-radius: 5px solid #8E43ED;
  }
}
.github-link:hover {
  color: white;
}
.container-custom-outline-profile {
  border: 0.5px solid rgba(142, 67, 237, 0.2);
  border-radius: 5px;
}
.personalInfo {
  font-weight: 550;
}
.profile-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.personalInfoBanks {
  display: inline;
}
.personalInfoindiv {
  font-family: 'Catamaran', sans-serif !important;
  font-weight: lighter;
}
.personalInfoBanks {
  font-family: 'Catamaran', sans-serif !important;
  font-weight: lighter;
}
.personalInfoCurrency {
  font-family: 'Catamaran', sans-serif !important;
  font-weight: lighter;
}
