.squarebg {
  background-color: rgba(142, 67, 237, 0.3);
  width: 100%;
  height: 100vh;
}
.btn-login {
  background-color: #8E43ED;
  color: white;
  border-color: #8E43ED;
  border-radius: 100px;

  &:hover {
    background-color: #6a37ac;
    color: white;
  }
}
