.container-bg {
  background-color: white;
}
.first2 {
  padding: 0px 10px 0px;
  margin: 0 3px;
  text-decoration: none;
  background-color: #cbcbcb;
  color: white;
  border-radius: 5px;
  font-family: 'Catamaran', sans-serif;

  &:hover{
    color: black;

  &:active{
    color: black;
    text-decoration: none;
  }
  }
}
.numeros {
  margin: 0 3px;
  padding: 0px 10px 0px;
  color: white;
  text-decoration: none;

  &:hover{
    color: black;

  &:active{
    color: black;
    text-decoration: none;
    padding-left: 3px;
  }
  }
}
.pagmar {
  padding-right: 3px;

}
.btn-descargarExcel {
  background-color: #8E43ED;
  color: white;
  border-color: #8E43ED;
  border-radius: 5px;

  &:hover {
    background-color: #6a37ac;
    color: white;
  }
}
